@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >iAttend</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum tortor ac dolor ullamcorper consequat. Vestibulum interdum risus eu tortor pharetra, eget tempus justo tempor. Morbi laoreet non arcu quis sollicitudin. Vestibulum finibus, purus sed aliquam pellentesque, lectus ante molestie neque, quis faucibus orci massa ac mauris. Aenean dignissim enim ac ex viverra, nec pellentesque massa ornare. Aliquam maximus egestas felis vel eleifend. Duis fringilla lorem in est ornare porttitor.

        Duis aliquet in felis in auctor. Nunc pretium, nisl a iaculis bibendum, augue velit tristique leo, ut scelerisque elit nunc nec lacus.
        Integer nisl sapien, vestibulum in gravida quis, commodo nec velit. Integer ullamcorper et enim eget hendrerit. Suspendisse fringilla,
        </br>
        </br>
        enim id tristique venenatis, ante tortor rutrum libero, ac pharetra augue arcu vitae lectus. Aenean laoreet maximus eros, vitae auctor 
        massa eleifend et. Curabitur id pellentesque dui, sed scelerisque enim. Aliquam erat volutpat. Ut imperdiet dolor vitae lacus placerat </p>
</div>
