body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ------------ Bootstrap overrides ------------*/

.navbar-inverse {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 19px
    
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 24px
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(40, 107, 165, 0.81);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.form-control {
    font-size: 16px;
    padding: 3px 8px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.btn {
    padding: 6px 15px;
    font-size: 15px;
}*/

label {
    margin-bottom: 7px;
    font-size: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
    margin-bottom: 25px;
}

.nav-pills {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 17px
}

.img-circle {
    margin-left: 10px;
    margin-top: -8px;
    float: right;
    width: 35px;
    height: 35px;
}


/* ------------ PAGE LEVEL STYLES ------------*/

/*.concerts {
    list-style: none;
}
.concerts > li {
    position: relative;
    margin-bottom: 30px;
}

.concerts > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.concerts > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.concerts > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}


.concerts > li .details {
    position: absolute;
    top: 0;
    left: 75px;
    margin-top: 10px;
}

.concerts > li .details .artist {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.concerts > li .details .genre {
    font-size: 14px;
}*/